<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carpool.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="d-flex justify-content-center align-items-center">
    <div class="container border shadow glassmorphism py-4 px-4">
        <div class="row">
            <div class="col-6 float-start">
                <h1>Welcome, <%= user.username %></h1>
            </div>
            <% if (user.carMembers.length == 0) { %>
                <div class="col-6">
                    <form action="/newCarpool" method="POST">
                        <button name="username" value=<%= user.username %> class="carpool-button float-end" style="width: auto;">Make a your own carpool!</button>
                    </form>
                </div>
            <% } %>
        </div>
        <% if (user.carMembers.length != 0) { %>
            <hr>
            <h3>Your Carpool!</h3>
            <div class="row">
                <div class="col-3 hoverAnimation">
                    <div class="glassmorphism-success p-3 shadow-bg">
                        <div class="row text-center">
                            <% user.carMembers.forEach(function(member){ %>
                                <div class="col-6 text-center my-2 fs-6 fw-bold">
                                    <p> <%= member.username %> </p>
                                </div>
                            <% }); %>
                        </div>
                        <div class="text-center row">
                            <button name="username" value=<%= user.username %> class="carpool-button mx-3" style="width: -webkit-fill-available;">Delete this carpool</button>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        <hr>
        <h3>Available Carpools</h3>
        <div class="container">
            <div class="row">
                <% allUsers.forEach(function(singleUser){ %>
                    <% if (singleUser.username != user.username){ %> <!-- dont render users carpool in all availabe carpools -->
                        <div class="col-3 hoverAnimation">
                            <% if (singleUser.carMembers.length != 0) { %>
                                <% if(singleUser.carMembers.some(person => person.username == user.username)){ %>
                                    <div class="glassmorphism-success p-3 shadow-bg">
                                <% } else { %>
                                    <div class="glassmorphism-radius p-3 shadow-bg">
                                <% } %> 
                                        <form id= "leaveCarpool" action="/leaveCarpool" method="POST">
                                        </form>
                                        <form action="/joinCarpool" method="POST">
                                            <div class="row text-center">
                                                <% singleUser.carMembers.forEach(function(carMember){ %>
                                                    <div class="col-6 text-center my-2 fs-6 fw-bold">
                                                        <%= carMember.username %>
                                                    </div>
                                                <% }); %>
                                                <% if(singleUser.carMembers.some(person => person.username == user.username)){ %>
                                                    <input form="leaveCarpool" type="hidden" name="username" value=<%= user.username %>>
                                                    <button form="leaveCarpool" name="carOwnerName" value=<%= singleUser.username %> class="carpool-button mt-3 mx-3" style="width: -webkit-fill-available;">Leave this carpool</button>
                                                <% } else { %>
                                                    <% if(singleUser.carMembers.length >= 4){ %>
                                                        <button disabled class="carpool-button mt-3 mx-3" style="width: -webkit-fill-available;">This carpool is full</button>
                                                    <% } else { %>
                                                        <input type="hidden" name="username" value=<%= user.username %>>
                                                        <button name="carOwnerName" value=<%= singleUser.username %> class="carpool-button mt-3 mx-3" style="width: -webkit-fill-available;">Join this carpool!</button>
                                                    <% } %> 
                                                <% } %>
                                            </div>
                                        </form>
                                    </div>
                            <% } %>
                        </div>
                    <% } %>
                <% }); %>
            </div>
        </div>
    </div>
</body>
</html>